* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    padding: 15px;
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* IMAGES */

.eevee {
    width: 75%;
    height: auto;
}

.pokeball {
    width: 12px;
    height: auto;
    margin: 0 5px;
}

/* Pokémon List */

.list ul {
    display: flex;
}

.split {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.name-info {
    display: flex;
    flex-direction: column;
}

.info-card {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

.name {
    font-weight: bold;
    font-size: 18px;
}